.egap-cookie-consent {
    position: fixed;
    bottom: 15px;
    left: 15px;
    right: 15px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: #333;
    color: #fff;
    text-align: center;
    z-index: 1000;
    display: none;
    border-radius: 5px;
}

.egap-cookie-consent button {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
